@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn text-black" style="background-color: #ffd734">DASHBOARD</a>
    <a href="@Url.Action("DashboardReportes", "Reportes")" class="btn text-black" style="background-color: #ffd734">PEDIDOS</a>
    <a href="@Url.Action("ReportesPdf", "Reportes")" class="btn text-black mb-2" style="background-color: #ffd734">GENERAR MAS REPORTES</a>
</div>
<div class="text-center">
    <h3 class="display-4 fs-2">DETALLES DE PEDIDOS Y MESAS</h3>
    <p>
        <button id="btnMesas" class="btn text-light w-50" style="background-color: #af1717">Ver Detalle de Mesas</button>
    </p>
    <p>
        <button id="btnPedidos" class="btn text-light w-50" style="background-color: #af1717">Ver Detalle de Pedidos</button>
    </p>
    <p>
        <a href="/" class="btn text-light w-50" style="background-color: #af1717">Limpiar</a>
    </p>
</div>


<div id="contenidoDetalles"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        // Cuando se haga clic en el botón "Ver Detalle de Mesas"
        $("#btnMesas").click(function () {
            $.ajax({
                url: '@Url.Action("DetalleMesas", "DetalleMesasPedidos")',
                type: 'POST',
                success: function (data) {
                    // Cargar la vista parcial en el div
                    $('#contenidoDetalles').html(data);
                },
                error: function () {
                    alert('Error al cargar los detalles de mesas.');
                }
            });
        });

        // Cuando se haga clic en el botón "Ver Detalle de Pedidos"
        $("#btnPedidos").click(function () {
            $.ajax({
                url: '@Url.Action("DetallePedidos", "DetalleMesasPedidos")',
                type: 'POST',
                success: function (data) {
                    // Cargar la vista parcial en el div
                    $('#contenidoDetalles').html(data);
                },
                error: function () {
                    alert('Error al cargar los detalles de pedidos.');
                }
            });
        });

        $(document).on('click', '.btn-filtro', function () {
            var filtro = $(this).val();
            var btnId = $(this).attr("id");

            $.ajax({
                url: '@Url.Action("DetalleMesas", "DetalleMesasPedidos")',
                type: 'POST',
                data: { estado: filtro },
                success: function (result) {
                    $('#contenidoDetalles').html(result);
                    $(".estado-circulo").removeClass("bg-dark").addClass("bg-light");
                    var circulo = $("#circulo-" + btnId);
                    circulo.removeClass("bg-light").addClass("bg-dark");
                },
                error: function () {
                    console.error("Error en la petición");
                }
            });
        });

        $(document).on('click', '.btn-cuenta', function () {
            var filtro = $(this).val();
            var btnId = $(this).attr("id");

            $.ajax({
                url: '@Url.Action("DetallePedidos", "DetalleMesasPedidos")',
                type: 'POST',
                data: { estado: filtro },
                success: function (result) {
                    $('#contenidoDetalles').html(result);
                    $(".estado-circulo").removeClass("bg-dark").addClass("bg-light");
                    var circulo = $("#circulo-" + btnId);
                    circulo.removeClass("bg-light").addClass("bg-dark");
                },
                error: function () {
                    console.error("Error en la petición");
                }
            });
        });

        $(document).on('click', '.LblIdPedido', function () {

            var Id = $(this).attr('id');
            var tipoVenta = 'Local';
            const checkbox = document.getElementById('flexSwitchCheckDefault');

            if(checkbox.checked){
                tipoVenta = 'En Linea';
            }
            console.log(tipoVenta);

            if (Id != 0) {
                var Total = 0;
                $.getJSON('/DetalleMesasPedidos/ObtenerEncabezadoPedido', { id_pedido: Id }, function (data) {
                    $("#NumMesa").text(data[0].mesa || 'Información no disponible');
                    $("#EstadoCuenta").text(data[0].cuenta || 'Información no disponible');
                    $("#NombreMesero").text(data[0].mesero || 'Información no disponible');
                });

                 var platosRequest = $.getJSON('/DetalleMesasPedidos/ObtenerDetPedidoPlatos', { id_pedido: Id, tipoVenta: tipoVenta});
                 var combosRequest = $.getJSON('/DetalleMesasPedidos/ObtenerDetPedidoCombos', { id_pedido: Id, tipoVenta: tipoVenta});

                $.when(platosRequest, combosRequest).done(function (platosData, combosData) {

                    $("#DetPedidoPlatos").empty();
                    $.each(platosData[0], function (i, item) {
                        $("#DetPedidoPlatos").append('<p>Tipo Venta: ' + item.tipoVenta + ' - Estado: ' + item.estado);
                        $("#DetPedidoPlatos").append('<p>Plato: ' + item.plato + ' - Cantidad: ' + item.cantidad + ' - Subtotal: $' + item.subtotal + '</p>');
                        Total += item.subtotal;
                    });

                    $("#DetPedidoCombos").empty();
                    $.each(combosData[0], function (i, item) {
                        $("#DetPedidoCombos").append('<p>Tipo Venta: ' + item.tipoVenta + ' - Estado: ' + item.estado);
                        $("#DetPedidoCombos").append('<p>Combo: ' + item.combo + ' - Cantidad: ' + item.cantidad + ' - Subtotal: $' + item.subtotal + '</p>');
                        Total += item.subtotal;
                    });

                    $("#TotalCuenta").text('$' + Total || 'Información no disponible');
                });
            }


                // $.getJSON('/DetalleMesasPedidos/ObtenerDetPedidoPlatos', { id_pedido: Id }, function (data) {
                //     $("#DetPedidoPlatos").empty();
                //     $.each(data, function (i, item) {
                //         $("#DetPedidoPlatos").append('<p>Estado: ' + item.estado + ' - Plato: ' + item.plato + ' - Cantidad: ' + item.cantidad + ' - Subtotal: $' + item.subtotal + '</p>');
                //         Total = Total + item.subtotal;
                //     });
                // });
                // $.getJSON('/DetalleMesasPedidos/ObtenerDetPedidoCombos', { id_pedido: Id }, function (data) {
                //     $("#DetPedidoCombos").empty();
                //     $.each(data, function (i, item) {
                //         $("#DetPedidoCombos").append('<p>Estado: ' + item.estado + ' - Combo: ' + item.combo + ' - Cantidad: ' + item.cantidad + ' - Subtotal: $' + item.subtotal + '</p>');
                //         Total = Total + item.subtotal;
                //     });
                //     $("#TotalCuenta").text('$' + Total || 'Información no disponible');
                // });
        });
    </script>
}
